.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  overflow: auto;
  margin-bottom: 72px;
}

.container24 {
  composes: container;
  margin-top: 69px;
}
